:root {
  --footer-bg: #132b3f;
  --footer-h2-bg: #21415b;
  --footer-h2-color: #b7d3ea;
  --footer-h2-shadow: .2rem .2rem .4rem #0003;
  --footer-border-color: #fff3;
  --footer-h3-span: #adcce5;
  --footer-img-filter: none;
  --footer-p-color: #fff6;
}

@media (prefers-color-scheme: light) {
  :root {
    --footer-bg: #e6e6e6;
    --footer-h2-bg: #c1c1c1;
    --footer-h2-color: #434343;
    --footer-h2-shadow: none;
    --footer-border-color: #0003;
    --footer-h3-span: #000;
    --footer-img-filter: grayscale(100%) brightness(30%);
    --footer-p-color: #0006;
  }
}

.Footer {
  background-color: var(--footer-bg);
  padding: 1rem;
  text-align: center;
}
.Footer h2 {
  background-color: var(--footer-h2-bg);
  color: var(--footer-h2-color);
  padding: .5rem 1rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-family: 'Lilita One', Sans-Serif;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: var(--footer-h2-shadow);
}
.Footer h3 {
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem solid var(--footer-border-color);
  padding-bottom: 1rem;
}

.Footer h3 span {
  display: block;
  color: var(--footer-h3-span);
  font-weight: bold;
}
.Footer .social {
  display: flex;
  gap: 1rem;
  width: max-content;
  margin: 0 auto;
}
.Footer img {
  width: 2.5rem;
  filter: var(--footer-img-filter);
}
.Footer p {
  margin: 0;
  font-weight: bold;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: .1rem solid var(--footer-border-color);
  color: var(--footer-p-color);
  font-style: italic;
}