.CategoryRef {
  width: 1rem;
  height: .1rem;
}
.CategoryBar {
  z-index: 3;
  position: sticky;
  top: 0;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 1rem 0 1rem .5rem;
  background-color: var(--bg-color);
}
.CategoryBar .cont {
  padding: .5rem 1rem;
  border-radius: .5rem;
  background-color: #0092ef;
  margin-right: .3rem;
  position: relative;
  opacity: .6;
  transform: scale(.95);
  transition: .3s transform;
}
.CategoryBar .cont.selected {
  opacity: 1;
  transform: scale(1);
}
.CategoryBar .cont::before {
  content: '';
  position: absolute;
  background-color: #0003;
  width: 95%;
  height: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: .15rem;
  border-radius: .4rem;
}
.CategoryBar h2 {
  position: relative;
  z-index: 1;
  font-family: 'Lilita One', Sans-Serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}